@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scroll-padding: 5rem;
  }

  html {
    scroll-padding-top: var(--scroll-padding);
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-100;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}